.vs/
packages/
x64/
*.ico
*.rc
*.zip
*.dbf
CSTest/

.release/
_release/
_test/
_build/

lib/
Release/
Debug/
CSharp/bin/
CSharp/obj/
CPP/Debug/
CPP/Release/

CppNativeTest/
CppManagedTest/
CSharpTest/